:root {
    font-size: 62.5%;
    --general-bgcolor: #bc002d;
    --rgba-general: rgba(188, 0, 45, 1);

    --grid-min: 25rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1,
h2,
h3,
h5,
p {
    cursor: default;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.2rem;
}

p {
    font-size: 1.8rem;
    cursor: default;
}

button {
    cursor: pointer;
}

div#content {
    background: url('../assets/yoav-aziz-tKCd-IWc4gI-unsplash-large.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at bottom left, #bc002d 60px, transparent 60px),
        radial-gradient(circle at top right, #bc002d 60px, transparent 60px);
    min-height: 10vh;
}

nav {
    width: 100%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main {
    background-color: rgba(188, 0, 45, 0.5);
    color: white;
    width: 85%;
    margin: 3% 0;
    border: 1px solid rgba(188, 0, 45, 0.25);
    display: flex;
    flex: 1;
}

footer {
    width: 100%;
    background-color: burlywood;
    min-height: 5vh;
    display: grid;
    place-items: center;
    font-size: 1.4rem;
}

article {
    width: 100%;
}

.flex-center,
.flex-column,
.flex-row {
    display: flex;
    align-items: center;

}

.flex-center {
    justify-content: center;
}

.flex-column {
    justify-content: space-evenly;
    flex-direction: column;
}

.flex-row {
    justify-content: space-between;
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-min), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    grid-auto-rows: minmax(var(--grid-min), 1fr);
    gap: 1rem;
}

.padd {
    padding: 1rem;
    border-radius: 2rem;
}

.paddless {
    border-radius: 2rem;
}

.gap {
    gap: 1rem;
}

.head {
    background-color: rgba(254, 106, 40, 0.75);
    border: 1px solid rgba(254, 106, 40, 0.5);
    width: 20rem;
    height: 8rem;
    margin: 1% 0;
    clip-path: polygon(15% 0%, 85% 0%, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0% 85%, 0% 15%);
}

.section,
.container {
    background-color: rgba(188, 0, 45, 1);
    border: 1px solid rgba(188, 0, 45, 0.5);
}

.container {
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 85%, 95% 90%, 85% 90%, 85% 100%, 70% 90%, 5% 90%, 0% 85%, 0% 5%);
}

.frame {
    background-color: rgba(188, 0, 45, 0.75);
    border: 1px solid rgba(188, 0, 45, 0.25);
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.card {
    background-color: rgba(188, 0, 45, 0.5);
    border: 1px solid rgba(188, 0, 45, 0.25);
}

.food {
    width: 100%;
}

.map {
    width: min(60rem, 100%);
}